aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
bs4
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
duckduckgo_search
frozenlist
gitdb
GitPython
googlesearch-python
greenlet
h11
httpcore
httpx
httpx-sse
idna
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
lxml
MarkupSafe
marshmallow
multidict
mypy-extensions
narwhals
numpy
openai
orjson
packaging
pandas
pillow
primp
propcache
protobuf==3.20.3
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
requests-toolbelt
rpds-py
six
smmap
sniffio
soupsieve
SQLAlchemy
streamlit
tenacity
toml
tornado
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
yarl
zstandard
